[alias]
  a = add

  ## Local branches ##
  # deletion of merged branches through bang operator emulation
  # a deletion is made only if, at least, a branch exists
  clean-lbranches = "!f() { \
    git branch --merged | \
    grep -Ewv '^\\*|main|master|develop' | \
    xargs -n1 -r git branch -d; \
  }; f"

  # force deletion
  # /!\ beware, unmerged branches will be deleted /!\
  force-clean-lbranches = "!f() { \
    git branch --merged | \
    grep -Ewv '^\\*|main|master|develop' | \
    xargs -n1 -r git branch -D; \
  }; f"

  ## Remote branches ##
  ## cleaning and syncing local cache
  clean-rbranches = "!f() { \
    git branch -r --merged | \
    grep -Ewv 'main|master|develop' | \
    sed 's/origin\\///' | \
    xargs -n1 -r git push --delete origin && \
    git fetch origin --prune; \
  }; f"

  cm = commit
  # signed version
  cms = commit -S

  cma = commit --amend
	# signed version
  cmas = commit -S --amend

  cmv = commit -v

  co = checkout
  cob = checkout -b

  di = diff
  dis = diff --stat
  dic = diff --cached

[color]
  ui = true

[commit]
  template = ~/.git_message

[core]
  editor = vim
