[alias]
	a = add

	# deletion of merged branches using func() (through bang operator emulation); unforced
	clean-branches = "!func() { git branch --merged | grep -v \"main\\|master\" | xargs git branch -d; }; func"
	# forced behavior achieved through '-D' option
	force-clean-branches = 	"!func() { git branch --merged | grep -v \"main\\|master\" | xargs git branch -D; }; func"

	cm = commit -m
	# commit w/ message and signature
	cms = commit -m -S
	cmv = commit -v

	co = checkout
	cob = checkout -b

	di = diff
	dis = diff --stat
	dic = diff --cached

[color]
	ui = true

[core]
	editor = vim
